.THIS {
}

.THIS.cartContainer {
    background: white !important ;
    border-style:solid;
    border-width:2px;
    border-color: black;
    border-size: 4px !important;
    border-radius: 5px;
    display: flex;
    height: auto;
    flex-direction: column;

}

.THIS .cartItem {
    border-color:black;
    border-width:1px;
}

.THIS .bottomInfo {
    margin-top:auto;
}