.THIS {
        background-image: url('https://2.bp.blogspot.com/-7XBSMkyAyt4/Wc4HoYQXwPI/AAAAAAAABB4/agQ9rNmWfOMX34SfuDIZqtARhiI_JaHFgCLcBGAs/s1600/ZOMBIE%2BINVASION%2BSECTION%2B2.jpg');
		background-repeat: no-repeat;
    	background-size: cover !important;
    	background-attachment: fixed;
     	filter: invert(100%);
    	-webkit-filter: invert(100%);
    	color: cyan;
    	font-weight:bold;
    	overflow:auto;
}

.THIS body {
    background-image: url('https://www.everplans.com/sites/default/files/styles/article_header_image/public/scary-cemetery-zombies-fog-main.jpg?itok=blO7m2ZH');
    filter: invert(100%);
    	-webkit-filter: invert(100%);
}